main {
  width: 1280px;
  padding: 2rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  width: calc(32.5% - 1rem);
  margin-inline: auto;
}

ul li * {
  text-decoration: none;
  transition: 0.2s ease;
}

ul li img {
  margin-bottom: 0.2rem;
  border-radius: 12px;
}

ul li a {
  display: block;
}


ul li a:hover h4,
ul li a:hover .date {
  color: rgb(var(--accent));
}

ul a:hover img {
  box-shadow: var(--box-shadow);
}

@media (max-width: 720px) {
  ul {
    gap: 0.5em;
  }
  ul li {
    width: 100%;
    text-align: center;
  }
  ul li:first-child {
    margin-bottom: 0;
  }
  ul li:first-child .title {
    font-size: 1.563em;
  }
}

.post-featured {
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
}

.post-featured img {
  width: 100%;
  height: 320px;
}

.post-featured .title {
  margin-top: 1.2rem;
  font-size: 2.369rem;
  line-height: 1.2;
}

.post-featured .date,
.post-featured .tags {
  justify-content: center;
}

